<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ornn/src/css/bau-animation.css">
    <link rel="stylesheet" href="/Ornn/src/css/style.css">
    <link rel="stylesheet" href="/Ornn/src/css/particulas.css">
    <link rel="stylesheet" href="/Ornn/src/css/intro.css">
    <script src="/Ornn/src/js/intro.js"></script>


    <title>League of Leagens - Ornn</title>
</head>

<body>
    <nav>

    </nav>
     <main>
        <div class="personagem-container">
            div.nome-
            <h1>ORNN</h1>
            <h3>O Fogo sob a Montanha</h3>
        </div>
    </main>
</body>


</html>