*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body, html{
    height: 100%;
    background-image: url(/Ornn/src/assets/Ornn_mais_brao.webp);
    background-repeat: no-repeat;
}
