* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    height: 100vh;
    margin: 0;
    background-image: url(/Ornn/src/assets/Ornn_mais_brao.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: scroll;

}

nav {
    top: 0;
    position: fixed;
    height: 100px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    visibility: hidden;
}

.section-personagem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

.personagem-container {
    font-family: "Megrim", system-ui;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nome-container {

    font-size: 5vw;
    font-weight: 900;
    width: 60%;
    color: #ffffff;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    z-index: 2;
    animation-delay: 14s;
    animation: fadeIn 1s ease forwards;
}

.nome-personagem {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 100px;
}

.nome-personagem img {
    box-sizing: border-box;
    object-fit: contain;
    height: 10rem;
}

.titulo-personagem {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.titulo-personagem img{
    box-sizing: border-box;
    object-fit: contain;
    height: 8rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        visibility: visible;
    }
}